# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/media
/staticfiles

# Virtual environment
venv/

# PyCharm / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
*.pid
*.seed
*.cover
*.db
*.tar
