BEGIN;
--
-- Create model User
--
CREATE TABLE "core_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "username" varchar(50) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "homepage" varchar(200) NULL);
--
-- Create model Comment
--
CREATE TABLE "core_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, "created_at" datetime NOT NULL, "file" varchar(100) NULL, "parent_id" bigint NULL REFERENCES "core_comment" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "core_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_comment_parent_id_1b4ed377" ON "core_comment" ("parent_id");
CREATE INDEX "core_comment_user_id_a9a9430c" ON "core_comment" ("user_id");
COMMIT;
